.div {
  align-self: stretch;
  text-align: center;
  margin-bottom: 15px;
}
.div:not(:last-of-type) {
  border-bottom: 1px solid #ccc;
}

.knob-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.light {
  display: inline-block;
  width: 100px;
  height: 30px;
  border-radius: 100%;
  background-color: grey;
  box-shadow: 0 0 0 0.25rem darken(grey, 7.5%);
  transition: background 400ms ease;
}

input[type='checkbox'] {
  position: relative;
  appearance: none;
  width: 40px;
  height: 10px;
  background-color: white;
  border-radius: 30px;
  outline: none;
  transition: background 450ms ease;
  box-shadow: 0 0 0 3px darken(7.5%);
  cursor: pointer;
}

input:before,
:after {
  position: absolute;
  top: -50%;
  display: block;
  content: '';
  border-radius: 100%;
  transition: background 450ms ease, transform 450ms ease;
}

input:before {
  width: 20px;
  height: 20px;
  background-color: #fd4b63;
}
/* active*/
input:checked:before {
  background-color: #f4d73d;
  transform: translateX(100%);
}
