.formContainer {
  display: flex;
  flex-flow: column;
  align-items: space-around;
  width: 700px;
  height: fit-content;
  padding: 100px;
  margin: 0;
  border-radius: 5px;
  background-color: white;
  position: relative;
}

/* .form div {
  width: 400px;
  height: 100px;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
}

.inputText[name="password"],
.inputText[name="currentPassword"] {
  width: 400px;
  height: 50px;
}

.btn_eye[type="button"] {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  margin: 0;
  padding: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: var(--color-gray);
}

.eye {
  width: 12px;
  height: 12px;
  fill: var(--color-gray);
} */

.btn_eye[type="button"] {
  display: none;
}

.error {
  color: #ff3561;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 600;
}

.textContainer {
  display: flex;
  flex-flow: column;
}

.image_form {
  display: flex;
  flex-flow: row-reverse;
  justify-content: space-between;
  align-items: space-between;
  margin-top: 20px;
}

.form {
  display: flex;
  width: 400px;
}

.inputContant {
  display: flex;
  flex-direction: column;
  border: none;
}

.userName,
.userAge {
  width: 180px;
  outline: none;
  border: none;
  border-bottom: 1px solid #999;
}

.nameSurname {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin: 0 0 15px 0;
}

.inputText {
  margin: 15px 0;
  outline: none;
  border: none;
  border-bottom: 1px solid #999;
}

.text {
  width: 200px;
  padding: 15px 0;
  margin: 0;
}

.text_2 {
  color: grey;
  padding-bottom: 5px;
}

.passwordError {
  display: block;
}

.buttonDiv {
  width: 435px;
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}

.button {
  cursor: pointer;
  border-radius: 28px;
  border: 1px solid #9da39d;
  background-color: #fff;
  color: grey;
  width: 210px;
  height: 45px;
  outline: none;
}

.button:nth-of-type(2) {
  background-color: orange;
  color: white;
}

.button:hover {
  background-color: #ffa500c9;
}

.passwordError {
  position: absolute;
  top: 85%;
  left: 25%;
  color: red;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 767px) {
  .formContainer,
  .form,
  .inputContant {
    max-width: 300px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .image_form {
    flex-flow: column;
    max-width: 300px;
    justify-content: center;
    align-items: center;
  }

  .nameSurname {
    display: flex;
    flex-flow: column;
    padding: 10px 0;
    margin: 0;
  }

  .userName,
  .userAge,
  .inputText {
    width: 200px;
    padding: 10px 0 10px 0;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .button {
    width: 100px;
    outline: none;
  }

  .buttonDiv {
    max-width: 205px;
    padding: 20px 0 0 0;
  }

  .passwordError {
    position: absolute;
    top: 90%;
    left: 30%;
  }
}

@media (min-width: 768px) and (max-width: 857px) {
  .formContainer {
    max-width: 700px;
    justify-content: center;
  }

  .form {
    max-width: 400px;
  }

  .inputText {
    max-width: 350px;
  }

  .userName,
  .userAge {
    max-width: 150px;
  }

  .nameSurname {
    max-width: 350px;
  }

  .buttonDiv {
    max-width: 350px;
  }

  .button {
    max-width: 150px;
    outline: none;
  }

  .eye {
    width: 25px;
    height: 25px;
  }
}
