.activeCards {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.activeTaskCard {
  border-radius: 6px;
  background-color: rgb(224, 224, 224);
  width: 280px;
  height: 260px;
  margin-bottom: 24px;
  margin-right: 24px;
}

.activeTaskCard:nth-child(4n) {
  margin-right: 0;
}

@media (max-width: 1279px) {
  .activeCards {
    margin-bottom: 20px;
  }
  .activeTaskCard {
    width: 220px;
    height: 200px;
    margin-bottom: 6px;
    margin-right: 6px;
  }
  .activeTaskCard:nth-child(4n) {
    margin-right: 6px;
  }
  .activeTaskCard:nth-child(3n) {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .activeTaskCard {
    margin: 0 auto;
    margin-bottom: 16px;
  }
  .activeTaskCard:nth-child(4n),
  .activeTaskCard:nth-child(3n) {
    margin: 0 auto;
    margin-bottom: 16px;
  }
}
