/* .basicLightbox {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
} */

.modalContent {
    background-color: #fff;
    color: black;
    padding: 14px;
    width: 400px;
    height: 152px;
    text-align: center;
}

.h2 {
    margin: 0;
    margin-top: 5%;
    margin-bottom: 15%;
}

.btnConteiner {
    display: flex;
    justify-content: center;
    /* width: 30%; */
}

.btn {
    width: 20%;
    border: none;
    border-radius: 10px;
    background-color: #f1c440;
    outline: none;
    cursor: pointer;
    position: relative;
    margin: 0 20px;
}

.btn:hover {
    width: 20%;
    height: 20px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.btn:hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

.btn:active {
    color: #000;
}

.btn:active:after {
    background: transparent;
}

.btn:hover:before {
    opacity: 0.7;
}

.btn:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

@media (max-width: 767px) {
    .modalContent {
        max-width: 320px;
    }
}