.modal {
  width: 800px;
  height: 580px;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-20%, -50%);
  position: fixed;
  z-index: 10;
  background-color: #fff;
  border-radius: 6px;
}

.form {
  width: 600px;
  height: 460px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-48%, -50%);
  z-index: 12;
}

.label {
  margin: 0;
  color: #858598;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 1px;
}

.input {
  border: 0;
  margin-bottom: 30px;
  padding-top: 6px;
  padding-bottom: 6px;
  width: 560px;
  border-bottom: 1px solid #e0e0e0;
  outline: none;
}

.textarea::placeholder,
.input::placeholder {
  color: #a8a8b5;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.84px;
}

.textarea {
  resize: none;
  border: 0;
  width: 520px;
  height: 140px;
  margin-top: 8px;
  margin-bottom: 28px;
  padding: 22px;
  color: #000;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 400;
  border-radius: 3px;
  box-shadow: 2px 4px 23px 6px rgba(29, 29, 27, 0.05);
  outline: none;
}

.button {
  border: 0;
  display: block;
  min-height: 48px;
  width: 200px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  background-color: #edb445;
  border-radius: 24px;
  box-shadow: 0 8px 29px rgba(178, 138, 61, 0.31);
  cursor: pointer;
}

@media (max-width: 1279px) {
  .modal {
    width: 680px;
    height: 600px;
    transform: translate(-50%, -50%);
  }

  .form {
    width: 560px;
    height: 436px;
    transform: translate(-48%, -58%);
  }

  .label {
    line-height: 30px;
  }

  .input {
    margin-bottom: 20px;
    width: 526px;
  }

  .textarea {
    width: 484px;
  }

  .textarea::placeholder,
  .input::placeholder {
    letter-spacing: 0.45px;
  }
}

@media (max-width: 767px) {
  .modal {
    width: 300px;
    height: 530px;
  }

  .form {
    width: 250px;
    transform: translate(-48%, -48%);
    height: 490px;
  }

  .label {
    font-size: 22px;
  }

  .input {
    width: 240px;
  }

  .textarea {
    width: 206px;
    padding: 18px;
  }

  .button {
    margin: 0 auto;
  }
}
