/* .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #858598;
  z-index: 999;
} */

.modal {
    width: 640px;
    height: 430px;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    z-index: 1000;
    background-color: #fff;
    border-radius: 6px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 560px;
    height: 320px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-46%, -52%);
    z-index: 1012;
}

.label {
    margin: 0;
    color: #858598;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 1px;
}

.input {
    border: 0;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 2px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    width: 514px;
    border-bottom: 1px solid #e0e0e0;
    outline: none;
}

.input:focus:valid {
    border: 1px solid green;
}

.input:focus:invalid {
    border: 1px solid red;
}

.input::placeholder {
    color: #a8a8b5;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.84px;
}

.text {
    margin: 0;
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
}

.button {
    border: 0;
    display: block;
    min-height: 48px;
    width: 200px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    background-color: #edb445;
    border-radius: 24px;
    box-shadow: 0 8px 29px rgba(178, 138, 61, 0.31);
    cursor: pointer;
}

.error {
    width: 500px;
    color: red;
    position: fixed;
    bottom: 18px;
    left: 18%;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
}

@media (max-width: 1279px) {
    .modal {
        width: 630px;
        height: 500px;
        transform: translate(-50%, -50%);
    }
    .form {
        width: 520px;
        height: 330px;
        transform: translate(-50%, -60%);
    }
    .label {
        line-height: 30px;
    }
    .input {
        width: 512px;
    }
    .textarea {
        width: 484px;
    }
    .textarea::placeholder,
    .input::placeholder {
        letter-spacing: 0.45px;
    }
}

@media (max-width: 767px) {
    .modal {
        width: 300px;
        height: 470px;
    }
    .form {
        width: 250px;
        transform: translate(-50%, -52%);
        height: 380px;
    }
    .label {
        font-size: 22px;
    }
    .input {
        width: 240px;
    }
    .text {
        text-align: center;
        letter-spacing: 0.4px;
    }
    .button {
        margin: 0 auto;
    }
}