.button,
.disableBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  position: fixed;
  top: 98px;
  right: 50px;
  outline: none;
  border: none;
  color: #ffffff;
  font-size: 40px;
  padding-bottom: 5px;
  padding-left: 1px;
  z-index: 1;
}

.button {
  background-color: #d8ad3b;
  cursor: pointer;
}

.disableBtn {
  pointer-events: none;
  background-color: #e0e0e0;
}

@media (max-width: 767px) {
  .button {
    top: 80%;
    right: 14px;
  }
}
