.bodyCard {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  background-color: #e0e0e0;
}

svg {
  fill: #eeeeee;
  width: 45px;
  height: 45px;
}

.points_txt_p {
  text-transform: uppercase;
  font-size: 18px;
  color: #fff;
}

/*ACTIVE - DONE*/

.bodyCard.checked {
  background-color: #a7d056;
}
