.contactsPageBlock {
  background-color: #f7f7f7;
}

.header {
  padding: 20px 0;
  width: 1160px;
  margin: 0 auto;
}

.infoBlock {
  width: 1192px;
  margin: 0 auto 45px;
  padding: 45px 24px;
  text-align: center;
  background-color: #f5d53b;
}

.infoBlock__title {
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 35px;
}

.infoBlock__info {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: gray;
  margin-bottom: 35px;
}

.infoBlock__contacts {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

.infoBlock__email {
  color: gray;
}

.contactsList {
  list-style: none;
  width: 1192px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contactBlock {
  text-align: center;
  background-color: white;
  width: 31%;
  padding: 20px 42px;
  box-shadow: 0 24px 40px 0 rgba(0, 0, 0, 0.13);
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 22px;
}

.contactImage {
  margin: 0 auto;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-bottom: 30px;
}

.contactName {
  font-size: 18px;
  font-weight: 700;
  color: black;
  margin-bottom: 14px;
}

.contactPosition {
  font-size: 12px;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
}

.contactEmail {
  margin-bottom: 18px;
}

.email {
  color: gray;
}

.contactInfo {
  text-align: justify;
  font-size: 16px;
  color: grey;
}

@media (max-width: 1279px) {
  .header {
    width: 650px;
  }
  .infoBlock {
    width: 674px;
  }
  .contactsList {
    width: 674px;
  }
  .contactBlock {
    width: 48%;
  }
}

@media (max-width: 767px) {
  .header {
    width: 240px;
  }
  .infoBlock {
    width: 280px;
    margin-bottom: 25px;
  }
  .contactsList {
    width: 280px;
    margin-bottom: 25px;
  }
  .contactBlock {
    width: 280px;
  }
}
