.btn {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.userInfo {
    font-family: 'Monserrat';
    display: flex;
    align-items: center;
    max-width: 200px;
}

@media screen and (max-width: 767px) {
    .userAge {
        display: none
    }
    .btn {
        display: none;
    }
    .userInfo {
        flex-flow: row-reverse;
    }
}
