.title_form {
  display: none;
}

.test {
  display: none;
}

.price {
  display: none;
}

.modal_title {
  border-radius: 6px;
  margin: 20px auto;
  width: 849px;
  height: 500px;
  text-align: center;
  font-weight: 700;
  color: gray;
}

.title_modal {
  margin: 20px auto;
  font-weight: 900;
  font-family: 'Montserrat';
}

.modal_container {
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 3.464px 23.2px 5.8px rgba(29, 29, 27, 0.1);
  margin: 0 auto;
  width: 849px;
  height: 328px;
  display: flex;
  justify-content: space-evenly;
}

.form {
  border-radius: 6px;
  /* background-color: pink; */
  width: 600px;
  /* height: 200px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  position: relative;
}

.errorParagraph {
  color: red;
  border-color: red;
  border: solid 3px rgb(199, 183, 183);
  padding: 10px 10px 10px 10px;
  position: absolute;
  bottom: 20px;
  font-size: 30px;
}

.errorParagraphServer {
  color: red;
  border-color: red;
  border: solid 3px red;
  padding: 10px 10px 10px 10px;
  position: absolute;
  bottom: 60px;
  font-size: 30px;
}

.input_task {
  margin: 40px auto;
  margin-bottom: 60px;
  border-width: 0px 0px 2px 0px;
  border-color: rgb(224, 224, 224);
  border-style: solid;
  font-size: 14px;
  font-weight: 900;
  font-family: 'Montserrat';
  width: 569px;
  height: 37px;
  outline: none;
}

.input_task::placeholder {
  font-size: 14px;
  font-weight: 900;
  font-family: 'Montserrat';
}

.input_task:valid {
  border-color: green;
}

.input_task:invalid {
  border-color: red;
}

.input_options_section {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 580px;
  margin: 0 auto;
  font-family: 'Montserrat';
}

.input_options {
  width: 250px;
  height: 10px;
  padding: 2px;
  font-size: 16px;
  font-family: 'Montserrat';
  font-weight: 900;
  color: black;
}

.input_options_input {
  width: 264px;
  height: 37px;
  border-width: 0px 0px 2px 0px;
  border-style: solid black 5px;
  font-family: 'Montserrat';
  outline: none;
  font-weight: 900;
  color: black;
}

.input_options::placeholder {
  font-size: 14px;
  font-weight: 900;
  font-family: 'Montserrat';
  border-style: solid;
  border-color: white;
}

.input_options_input:valid {
  border-color: green;
}

.input_options_input:invalid {
  border-color: red;
}

.button {
  border-radius: 20px 20px 20px 20px;
  font-family: 'Montserrat';
  border: none;
  color: #ffffff;
  font-weight: 900;
  width: 200px;
  height: 48px;
  background-image: -webkit-linear-gradient(
    90deg,
    rgb(245, 213, 59) 0%,
    rgb(241, 195, 65) 55%,
    rgb(236, 177, 70) 100%
  );
}

@media (max-width: 1279px) {
  .title_modal {
    display: none;
  }

  .title_form {
    margin-right: auto;
    height: 10px;
    margin-left: 15px;
    margin-bottom: 0px;
    color: gray;
    font-weight: 900;
    font-family: 'Montserrat';
    font-size: 20px;
  }

  .modal_container {
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 3.464px 23.2px 5.8px rgba(29, 29, 27, 0.1);
    margin: 0 auto;
    width: 849px;
    height: 831px;
    display: flex;
    justify-content: space-evenly;
    background-position: center;
    position: relative;
    overflow: hidden;
  }

  .form {
    border-radius: 6px;
    /* background-color: pink; */
    width: 600px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 70px;
  }

  .price {
    display: block;
    position: absolute;
    left: -68px;
    bottom: -75px;
  }

  .title_form {
    display: block;
  }

  .input_task {
    margin: 1px auto;
    border-width: 0px 0px 2px 0px;
    border-color: rgb(224, 224, 224);
    border-style: solid;
    width: 569px;
    height: 37px;
    font-size: 14px;
    font-weight: 900;
    font-family: 'Montserrat';
  }

  .input_task::placeholder {
    font-size: 14px;
    font-weight: 900;
    font-family: 'Montserrat';
  }

  .input_options_section {
    display: flex;
    justify-content: space-between;
    width: 580px;
    margin: 0 auto;
    font-family: 'Montserrat';
  }

  .input_options {
    width: 264px;
    height: 20px;
    border-color: #ffffff;
    border-style: none;
    font-family: 'Montserrat';
    color: black;
    font-weight: 900;
  }

  .input_options_input {
    width: 264px;
    height: 37px;
    border-width: 0px 0px 2px 0px;
    border-color: rgb(224, 224, 224);
    border-style: solid;
    font-family: 'Montserrat';
  }

  .input_options::placeholder {
    font-size: 14px;
    font-weight: 900;
    font-family: 'Montserrat';
  }

  .button {
    border-radius: 20px 20px 20px 20px;
    font-family: 'Montserrat';
    border: none;
    color: #ffffff;
    font-weight: 900;
    width: 200px;
    height: 48px;
    background-image: -webkit-linear-gradient(
      90deg,
      rgb(245, 213, 59) 0%,
      rgb(241, 195, 65) 55%,
      rgb(236, 177, 70) 100%
    );
  }
}

@media (max-width: 767px) {
  .modal_title {
    width: 320px;
  }

  .title_form {
    margin-right: auto;
    height: 10px;
    margin-left: 15px;
    margin-bottom: 0px;
    color: gray;
    font-weight: 900;
  }

  .modal_container {
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 3.464px 23.2px 5.8px rgba(29, 29, 27, 0.1);
    margin: 0 auto;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    background: url(/src//assets/images/modal_present.png);
    background-position: center;
  }

  .form {
    border-radius: 6px;
    /* background-color: pink; */
    width: 300px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 20px;
  }

  .title_form {
    margin-right: auto;
    height: 10px;
    margin-left: 15px;
    margin-bottom: 0px;
    margin-top: 20px;
    color: gray;
    font-weight: 900;
  }

  .input_task {
    margin: 1px auto;
    border-width: 0px 0px 2px 0px;
    border-color: rgb(224, 224, 224);
    border-style: solid;
    width: 270px;
    height: 37px;
    font-size: 14px;
    font-weight: 900;
    font-family: 'Montserrat';
  }

  .input_task::placeholder {
    font-size: 14px;
    font-weight: 900;
    font-family: 'Montserrat';
  }

  .input_options_section {
    display: flex;
    /* justify-content: space-between; */
    flex-flow: column-reverse;
    width: 270px;
    margin: 0 auto;
    font-family: 'Montserrat';
  }

  .price {
    display: none;
  }

  .form {
    border-radius: 6px;
    background-color: white;
    width: 300px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 20px;
  }

  .input_options {
    display: block;
    flex-flow: column;
    justify-content: space-between;
    width: 270px;
    margin: 0 auto;
    font-family: 'Montserrat';
    margin-bottom: 50px;
    color: black;
    font-weight: 900;
    font-size: 14px;
  }

  .input_options::placeholder {
    font-size: 14px;
    font-weight: 900;
    font-family: 'Montserrat';
  }

  .input_options_input {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 900;
    font-family: 'Montserrat';
  }

  .button {
    border-radius: 20px 20px 20px 20px;
    font-family: 'Montserrat';
    border: none;
    color: #ffffff;
    font-weight: 900;
    width: 200px;
    height: 48px;
    background-image: -webkit-linear-gradient(
      90deg,
      rgb(245, 213, 59) 0%,
      rgb(241, 195, 65) 55%,
      rgb(236, 177, 70) 100%
    );
    margin: 20px auto;
  }
}
