.title_form {
  display: none;
}

.price {
  display: none;
}

.modal_title {
  border-radius: 6px;
  /* background-color: rgb(255, 255, 255); */
  /* box-shadow: 2px 3.464px 23.2px 5.8px rgba(29, 29, 27, 0.1); */
  margin: 0 auto;
  width: 849px;
  height: 500px;
  /* display: flex; */
  /* justify-content: space-evenly; */
  text-align: center;
  font-weight: 700;
}

.modal_container {
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 3.464px 23.2px 5.8px rgba(29, 29, 27, 0.1);
  margin: 0 auto;
  width: 849px;
  height: 328px;
  display: flex;
  justify-content: space-evenly;
}

.form {
  border-radius: 6px;
  /* background-color: pink; */
  width: 600px;
  /* height: 200px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.input_task {
  margin: 20px auto;
  border-width: 0px 0px 2px 0px;
  border-color: rgb(224, 224, 224);
  border-style: solid;
  width: 569px;
  height: 37px;
  outline: none;
}

.input_task::placeholder {
  font-size: 14px;
  font-weight: 900;
  font-family: 'Montserrat';
}

.input_options_section {
  display: flex;
  justify-content: space-between;
  width: 580px;
  margin: 0 auto;
  font-family: 'Montserrat';
}

.input_options {
  width: 264px;
  height: 37px;
  border-width: 0px 0px 2px 0px;
  border-color: rgb(224, 224, 224);
  border-style: solid;
  font-family: 'Montserrat';
}

.input_options_input {
  width: 264px;
  height: 37px;
  border-width: 0px 0px 2px 0px;
  border-color: rgb(224, 224, 224);
  border-style: solid;
  font-family: 'Montserrat';
  outline: none;
}

.input_options::placeholder {
  font-size: 14px;
  font-weight: 900;
  font-family: 'Montserrat';
}

.button {
  border-radius: 20px 20px 20px 20px;
  font-family: 'Montserrat';
  border: none;
  color: #ffffff;
  font-weight: 900;
  width: 200px;
  height: 48px;
  background-image: -webkit-linear-gradient(
    90deg,
    rgb(245, 213, 59) 0%,
    rgb(241, 195, 65) 55%,
    rgb(236, 177, 70) 100%
  );
}

@media (max-width: 1279px) {
  .title_modal {
    display: none;
  }

  .title_form {
    margin-right: auto;
    height: 10px;
    margin-left: 15px;
    margin-bottom: 0px;
    color: gray;
    font-weight: 900;
  }

  .modal_container {
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 3.464px 23.2px 5.8px rgba(29, 29, 27, 0.1);
    margin: 0 auto;
    width: 849px;
    height: 831px;
    display: flex;
    justify-content: space-evenly;
    background: url('/src//assets/images/modal_present.png');
    background-position: center;
    position: relative;
  }

  .form {
    border-radius: 6px;
    /* background-color: pink; */
    width: 600px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 70px;
  }

  .price {
    display: block;
    position: absolute;
    width: 300px;
    left: -30px;
    height: 300px;
    bottom: -30px;
  }

  .title_form {
    display: block;
  }

  .input_task {
    margin: 1px auto;
    border-width: 0px 0px 2px 0px;
    border-color: rgb(224, 224, 224);
    border-style: solid;
    width: 569px;
    height: 37px;
  }

  .input_task::placeholder {
    font-size: 14px;
    font-weight: 900;
    font-family: 'Montserrat';
  }

  .input_options_section {
    display: flex;
    justify-content: space-between;
    width: 580px;
    margin: 0 auto;
    font-family: 'Montserrat';
  }

  .input_options {
    width: 264px;
    height: 37px;
    border-width: 0px 0px 2px 0px;
    border-color: rgb(224, 224, 224);
    border-style: solid;
    font-family: 'Montserrat';
  }

  .input_options_input {
    width: 264px;
    height: 37px;
    border-width: 0px 0px 2px 0px;
    border-color: rgb(224, 224, 224);
    border-style: solid;
    font-family: 'Montserrat';
  }

  .input_options::placeholder {
    font-size: 14px;
    font-weight: 900;
    font-family: 'Montserrat';
  }

  .button {
    border-radius: 20px 20px 20px 20px;
    font-family: 'Montserrat';
    border: none;
    color: #ffffff;
    font-weight: 900;
    width: 200px;
    height: 48px;
    background-image: -webkit-linear-gradient(
      90deg,
      rgb(245, 213, 59) 0%,
      rgb(241, 195, 65) 55%,
      rgb(236, 177, 70) 100%
    );
  }
}

@media (max-width: 767px) {
  .title_form {
    margin-right: auto;
    height: 10px;
    margin-left: 15px;
    margin-bottom: 0px;
    color: gray;
    font-weight: 900;
  }

  .modal_container {
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 3.464px 23.2px 5.8px rgba(29, 29, 27, 0.1);
    margin: 0 auto;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    background: url(/src//assets/images/modal_present.png);
    background-position: center;
  }

  .form {
    border-radius: 6px;
    /* background-color: pink; */
    width: 300px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 20px;
  }

  .title_form {
    display: block;
  }

  .input_task {
    margin: 1px auto;
    border-width: 0px 0px 2px 0px;
    border-color: rgb(224, 224, 224);
    border-style: solid;
    width: 270px;
    height: 37px;
  }

  .input_task::placeholder {
    font-size: 14px;
    font-weight: 900;
    font-family: 'Montserrat';
  }

  .input_options_section {
    display: flex;
    /* justify-content: space-between; */
    flex-flow: column-reverse;
    width: 270px;
    margin: 0 auto;
    font-family: 'Montserrat';
  }

  .price {
    display: none;
  }

  .input_options {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 270px;
    margin: 0 auto;
    font-family: 'Montserrat';
    margin-bottom: 50px;
  }

  .input_options::placeholder {
    font-size: 14px;
    font-weight: 900;
    font-family: 'Montserrat';
  }

  .input_options_input {
    margin-bottom: 10px;
  }

  .button {
    border-radius: 20px 20px 20px 20px;
    font-family: 'Montserrat';
    border: none;
    color: #ffffff;
    font-weight: 900;
    width: 200px;
    height: 48px;
    background-image: -webkit-linear-gradient(
      90deg,
      rgb(245, 213, 59) 0%,
      rgb(241, 195, 65) 55%,
      rgb(236, 177, 70) 100%
    );
    margin: 0 auto;
  }
}
