.logo {
  margin: 0;
  padding: 0;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-family: 'Indie Flower';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  font-weight: 400;
  line-height: 42.57px;
  /* Text style for "to" */
  letter-spacing: -2.85px;
  color: #242428;
}

.to {
  transform: rotate(-45deg);
}
