.header {
  display: flex;
  max-width: 1250px;
  height: 54px;
  margin: 0 auto;
  margin-top: 22px;
  margin-bottom: 22px;
  padding: 0 25px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: space-between;
}
