.cardFooter_div {
  text-transform: uppercase;
  padding: 0 20px;
  display: flex;
  flex-flow: column;
  line-height: 20px;
  font-family: 'Montserrat', sans-serif;
}

.CardFooter_task,
.CardFooter_timeFrames {
  margin: 0;
  padding: 0;
  font-size: 14px;
  text-align: center;
}

.CardFooter_task {
  color: #858698;
  font-weight: 800;
}

.CardFooter_timeFrames {
  color: #848599;
}

@media (max-width: 1279px) {
  .cardFooter_div {
    margin: 0;
  }
  .CardFooter_task,
  .CardFooter_timeFrames {
    font-size: 12px;
    line-height: 20px;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .cardFooter_div {
    margin: 0;
    padding: 5px 5px;
  }
  .CardFooter_task,
  .CardFooter_timeFrames {
    font-size: 12px;
    line-height: 20px;
    text-align: center;
  }
}
