.goal {
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin: 0 auto;
}

.goalLogo {
  display: flex;
  text-align: center;
  align-items: center;
}

.goalName {
  font-family: 'Monserrat';
  font-size: 12px;
  line-height: 32px;
}

.goalLabel {
  display: block;
  width: 180px;
  height: 32px;
  background-image: linear-gradient(
    rgb(236, 177, 70) 0%,
    rgb(241, 195, 65) 55%,
    rgb(245, 213, 59) 100%
  );
  box-shadow: 0px 8px 29px 0px rgba(178, 138, 61, 0.31);
  border-radius: 16px;
  margin-left: 10px;
}
