.header {
    display: flex;
    max-width: 1250px;
    background-color: #fff;
    min-height: 54px;
    margin: 0 auto;
    margin-top: 22px;
    padding: 0 25px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: space-between;
}

.bg {
    display: block;
    background: var(--dashboard-body_color);
    width: 100%;
    height: 76px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    z-index: 1;
}

.center {
    display: flex;
    width: 700px;
    justify-content: center;
    text-align: center;
    margin: 10px;
}

@media screen and (max-width: 1279px) {
    .center {
        flex-flow: column;
        justify-content: space-around;
        margin: 0 auto;
        margin-top: 10px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        flex-wrap: wrap;
        padding: 0 5px;
    }
    .center {
        order: 3;
    }
}