.header {
  display: flex;
  width: 1250px;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  background-color: #fff;
  height: 54px;
  margin: 0 auto;
  margin-top: 22px;
  padding: 0 25px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 111;
}

/* @media screen and (max-width: 1279px) {
  .header { */

/* max-width: 738px; */

/* } */

/* } */

/* @media screen and (max-width: 767px) {
  .header { */

/* max-width: 330px; */

/* } */

/* } */
