.bodyCard {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 230px;
  background-color: #e0e0e0;
  border-radius: 10px 10px 0 0;
  transition: 0.4s ease-in-out;
  position: relative;
}

.SVG_gift {
  fill: #eeeeee;
  width: 45px;
  height: 45px;
  margin-top: 40px;
  margin-bottom: 5px;
}
.SVG_close {
  fill: white;
  width: 17px;
  height: 17px;
  position: absolute;
  top: 5%;
  right: 5%;
  transition: 120ms ease-in;
}
.SVG_close:hover {
  transform: scale(1.15, 1.15);
  fill: grey;
  transition: 120ms ease-in;
  cursor: pointer;
}

.SVG_close_btn {
  width: 22px;
  height: 22px;
  background-color: transparent;
  border: transparent;
  composes: SVG_close;
  outline: none;
}
.CardBody_div_txt {
  padding-top: 10px;
}

.points_txt_p {
  text-transform: uppercase;
  font-size: 14px;
  padding: 0;
  margin: 0;
  color: #fff;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.points_txt_number {
  font-size: 44px;
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

/*ACTIVE - DONE*/

.isDone {
  composes: bodyCard;
  background-color: #a7d056;
  fill: white;
  transition: 0.4s ease-in-out;
}

@media (max-width: 1279px) {
  .SVG_gift {
    width: 40px;
    height: 40px;
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  .SVG_gift {
    width: 40px;
    height: 40px;
    margin-top: 15px;
  }
}
