.progress {
  width: 360px;
  display: flex;
  align-items: center;
}

.progressScore {
  color: #858598;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 14px;
  width: 100px;
  margin: 0;
}

.progresBar {
  width: 250px;
  color: #000;
  overflow: hidden;
}

.total {
  color: #000;
}

@media screen and (max-width: 1279px) {
  .progress {
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .progress {
    max-width: 320px;
  }
}
