.taskList {
  background-color: inherit;
  width: 1192px;
  padding-top: 32px;
  margin: 0 auto;
  margin-bottom: 54px;
}

.dailyTasks {
  font-size: 11px;
  margin-bottom: 12px;
  font-family: 'Montserrat';
  color: rgb(133, 133, 152);
}

.blocksTitles {
  font-size: 12px;
  margin-bottom: 32px;
  font-family: 'Montserrat';
  color: rgb(66, 65, 75);
  text-transform: uppercase;
}

@media (max-width: 1279px) {
  .taskList {
    width: 674px;
  }
}

@media (max-width: 767px) {
  .taskList {
    width: 240px;
  }
  .dailyTasks {
    text-align: center;
  }
  .blocksTitles {
    text-align: center;
  }
}
